<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html"><head>
  <div th:fragment="header-css">
    <!-- this is header-css -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style-main-header-footer.css}"
          href="../../css/style-main-header-footer.css" />
  </div>
</head>
<body>


<div th:fragment="header">
  <!-- this is header -->
    <div class="menu-bar visible-on-md-up con">
        <nav class="menu-box-1">
            <ul class="row">
                <li class="cell"><a href="/">HOME</a></li>
                <li class="cell"><a href="/about">ABOUT</a></li>
            </ul>
        </nav>
    </div>
</div>

</body>
</html>