<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>

<div class="container">

  <div class="starter-template">
    <h1  align="center">Πληροφοριες</h1>
  </div>

</div>
<!-- /.container -->
<br>
<br>
<br>
<div class="text-center">
  <button type="button" class="btn btn-primary m-2" onclick="goHome()">BACK</button>
</div>
<div th:replace="fragments/footer :: footer"/>

<script>
  function goHome(){
    window.location = "[[@{/home}]]";
  }
</script>

</body>
</html>