<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>

  <div th:replace="fragments/header :: header-css"/>

</head>
<body>
<div th:replace="fragments/header :: header"/>
<title>[[${pageTitle}]]</title>
<div class="container text-center">
  <div>
    <h1>[[${pageTitle}]]</h1>
  </div>
  <form th:action="@{/{path}(path=${link})}" th:object="${user}"
        method="post" style="max-width: 600px; margin: 0 auto;">
    <div class="m-3">
      <div class="form-group row">
        <label class="col-4 col-form-label">USERNAME: </label>
        <div class="col-8">
          <input type="text" th:field="*{username}" class="form-control" required />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label">Password: </label>
        <div class="col-8">
          <input type="password" th:field="*{password}" class="form-control"
                 required minlength="6" maxlength="10"/>
        </div>

        <br>
        <br>
        <br>

      </div>
      <input type="radio" name="tt" value="ROLE_ADMIN"  onclick="doDisplay(this);" />  ADMIN<br/>
      <br>
      <input type="radio" name="tt" value="ROLE_USER_A_Politis" onclick="doDisplay(this);" checked />  Politis<br/>
      <br>
      <input type="radio" name="tt" value="ROLE_USER_B_Ypallilos" onclick="doDisplay(this);" />  Ypallilos<br/>
      <br>
      <input type="radio" name="tt" value="ROLE_USER_C_Axiomatikos" onclick="doDisplay(this);" />  Axiomatikos<br/>
      <div>
        <br>
        <br>
        <div class="text-center">
        <button type="submit" class="btn btn-primary">[[${info}]]</button>
        <button type="button" class="btn btn-primary m-2" onclick="goHome()">CANCEL</button>
        </div>
      </div>
    </div>
  </form>
</div>
<div th:replace="fragments/footer :: footer"/>
<script>
  function goHome(){
    window.location = "[[@{/home}]]";
  }
</script>
</body>
</html>